
@{
    ViewBag.Title = "Home控制器下Detail的视图";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>欢迎!</h1>
<div>这个消息来自 Home 控制器下的 Detail 的视图文件 Detail.cshtml </div>
<p><a href="/Home/Index">返回首页</a></p>
<table>
    <tr>
        <td>员工编号：</td>
        <td> @Model.ID</td>
    </tr>
    <tr>
        <td> 员工名称：</td>
        <td>@Model.Name</td>
    </tr>
</table>
<p><a href="/Home/Index">返回首页</a></p>